include Package.swift
include README.md
include ARCHITECTURE.md
include TRANSPORT.md
include INSTALLATION.md
include CONFIG.md
include DEPLOY.md
recursive-include assets *.jpg *.png
recursive-include Sources *.swift *.c *.h *.modulemap
recursive-include Tests *.swift
recursive-include examples *.py
recursive-include scripts *.sh *.py
